<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% data.forEach(function(word){ %>
        <li> <%= word %></li>
      <% }); %>
</body>
</html>